
.navbar-brand  {
	font-family: 'multicolore', cursive; 
padding-bottom: 30px
}



.align-middle {
	display: block;
    margin-left: auto;
    margin-right: auto }

.container {
	font-family: avenir
}

.text-justify {
	font-family: avenir
}

.bloc1{
	font-family: avenir
}

.bloc2{
	font-family: avenir
}
